@font-face {
    font-family: 'istok_Web_regular'; /* Name your font family */
    src: url('../fonts/Istok_Web/IstokWeb-Regular.ttf'); /* Locate the .ttf file within your directory*/
  }

@font-face {
    font-family: 'istok_Web_italic'; /* Name your font family */
    src: url('../fonts/Istok_Web/IstokWeb-Italic.ttf'); /* Locate the .ttf file within your directory*/
  }

@font-face {
    font-family: 'istok_Web_bold_italic'; /* Name your font family */
    src: url('../fonts/Istok_Web/IstokWeb-BoldItalic.ttf'); /* Locate the .ttf file within your directory*/
  }

@font-face {
    font-family: 'istok_Web_bold'; /* Name your font family */
    src: url('../fonts/Istok_Web/IstokWeb-Bold.ttf'); /* Locate the .ttf file within your directory*/
  }


header{
  display: flex;
  align-items: center;
  justify-content: center;

}

#barra img{
  position: absolute;
  z-index: 1;
}

#itens-nav a{
  color: aliceblue;
  text-decoration: none;
  margin-left: 20px;
  font-family: istok_Web_bold;

  


}


#barra{
  width:100%;
  height: 60px;
  background-color: #231A2F;

}


.container-log {
    display: flex;
    justify-content: center;
    align-items: center;


}

#background-login{
    margin-top: 100px;
    background-color: #453657;
    height: 500px;
    width: 400px;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;



}
#texto01{
  display: flex;

}
#text_entrar{
    color: aliceblue;
    font-size: 2em;
    font-family: istok_Web_regular;
    margin-top: -45px;



}



.btn{
    width: 350px;
    height: 45px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: transparent;
    border-style: solid;
    border-color: rgba(240, 248, 255, 0.678);
    
}

.btn2{
  width: 350px;
  height: 45px;
  margin-top: 30px;
  border-radius: 5px;
  border-width: 1px;
  background-color: #B474BA;
  border-style: solid;
  border-color: #B474BA;
  color: aliceblue;
  font-size: 2em;
  font-family: istok_Web_bold;


}
.btn3{
  width: 350px;
  height: 45px;
  margin-top: 30px;
  border-radius: 10px;
  border-width: 1px;
  background-color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  color: rgb(46, 46, 46);
  font-size: 1.4em;
  font-family: istok_Web_regular;
  display: flex;
  justify-content: flex-start;
  align-items: center;


}

.btn3 h4 {
  margin-left: 20px;
  font-family: istok_Web_regular;
  color: rgba(46, 46, 46, 0.521) ;
}




::placeholder{
    color: rgba(240, 248, 255, 0.678);
    font-size: large;
    font-family: istok_Web_regular;
}

::content{
  color: aliceblue;
}